.column1, .column2, .column3, .column4 {
  margin: 1px;
  width: 125px;
  height: 500px;
  display: inline-block;
  background-color:lightgreen;
}

.cell {
  box-sizing: border-box;
  border: 1px solid white;
  width: 125px;
  height: 125px;
  background-color: lightblue;
}
