.gameboard {
  width: 575px;
  height: 470px;
}

.column1, .column2, .column3, .column4, .column5, .column6 {
  margin: 0 auto;
  width: 14.28%;
  height: 100%;
  float: left;
  /*display: flex;*/
  background-color: lightgreen;
  box-sizing: border-box;
}

.cell {
  /*sizing idea from Drake Four*/
  width: 100%;
  height: 16.66%;
  background-color: lightblue;
  /*float: left;*/
  margin-left: 1px;
  /*position: relative;*/
  box-sizing: border-box;
}

/*.column1 {
  position: absolute;
  right: 0;
}

.column2 {
  position: absolute;
  left: 10px;
  top: 0;
}

.column3 {
  position: absolute;
  left: 20px;
  top: 0;
}

.column4 {
  position: absolute;
  left: 30px;
  top: 0;
}

.column5 {
  position: absolute;
  left: 40px;
  top: 0;
}

.column6 {
  position: absolute;
  left: 50px;
  top: 0;
}*/

/** {box sizing: border-box;}*/

/*.cell {
  width: 10px;
  height: 10px;
  background-color: lightblue;
  float: left;
  margin-left: 1px;
  position: relative;
}*/

/*.cell0, .cell1, .cell2, .cell3, .cell4, .cell5 {
  float: left;
  margin-left: 1px;
}*/

/*.cell6, .cell7, .cell8, .cell9, .cell10, .cell11, .cell12, .cell13 {
  left: 10px;
}*/

/*.boss{
    margin: 0 auto;
    width: 44%;
    font-size: 65px;
  }
  .main, .main2, .main3 {
    width: 33%;
  }
  #box1, #box2, #box3,#box4, #box5, #box6, #box7, #box8, #box9 {
    height: 150px;
    border: 2px solid white;
  }*/
